@import "tailwindcss";

.body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

.hero,
.skill-heading,
.project-heading,
.work-heading,
.contact-heading {
  font-family: var(--font-montserrat);
  font-weight: 700;
}

.nav-items {
  font-family: var(--font-montserrat);
  font-weight: 600;
}

.icon,
.project-sub-heading {
  font-family: var(--font-montserrat);
  font-weight: 600;
}

.contact-me {
  font-family: var(--font-montserrat);
  font-weight: 700;
}
.code-snippet {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 13px;
}

.layout-animated-bg {
  --c1: #fff;
  /* --c2: #f6f6f6; */
  --c2: #efeeff;
  --c3: transparent;

  --s: 0.7; /* scale: 1 = original, 0.5 = half size */

  --circle: var(--c3) calc(6px * var(--s)),
    var(--c2) calc(7px * var(--s)) calc(8px * var(--s)),
    var(--c3) calc(9px * var(--s)) calc(14px * var(--s)),
    var(--c2) calc(15px * var(--s)) calc(16px * var(--s)),
    var(--c3) calc(17px * var(--s)) calc(22px * var(--s)),
    var(--c2) calc(23px * var(--s)) calc(24px * var(--s)),
    transparent calc(25px * var(--s));

  background: radial-gradient(
      circle at calc(96px * var(--s)) calc(56px * var(--s)),
      var(--circle)
    ),
    radial-gradient(circle at calc(96px * var(--s)) 0, var(--circle)),
    radial-gradient(
      circle at calc(48px * var(--s)) calc(28px * var(--s)),
      var(--circle)
    ),
    radial-gradient(circle at 0 calc(56px * var(--s)), var(--circle)),
    radial-gradient(circle at 0 0, var(--circle));

  background-size: calc(96px * var(--s)) calc(56px * var(--s));
  background-position: center;
  background-color: var(--c1);
}

.worktimeline-bg {
  background-image: radial-gradient(
    circle,
    rgb(229, 229, 229) 1px,
    transparent 1px
  );
  background-size: 18px 18px;
}
.section-container {
  @apply box-border mx-auto;
  @apply w-225 max-2xl:w-200 max-xl:w-180 max-lg:w-160 max-md:w-140 max-sm:w-85;
}

.line-work {
  background-image: linear-gradient(#2d2a4a, #6c63ff);
}
